body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
    padding: 50px;
}

.table-title {
    text-align: center;
    color: red;
    font-weight: bold;
    margin: 20px 0;
    text-decoration: underline;
}

.hostel-table {
    width: 80%;
    max-width: 1000px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.hostel-table th, .hostel-table td {
    border: 2px solid #ddd;
    padding: 12px;
    text-align: center;
}

.hostel-table th {
    background-color: #8dc63f;
    color: white;
}

.hostel-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.hostel-table tbody tr:nth-child(even) {
    background-color: #d8f0c3;
}

.hostel-table tbody tr:hover {
    background-color: #c5e0b4;
}


@media screen and (max-width: 768px) {
    .hostel-table {
        width: 100%;
        padding: 10px;
    }
    
    .hostel-table th, .hostel-table td {
        padding: 8px;
        font-size: 14px; 
    }

    .table-title {
        font-size: 18px; 
    }
}


@media screen and (min-width: 769px) {
    .hostel-table {
        width: 80%;
        padding: 16px;
    }

    .hostel-table th, .hostel-table td {
        padding: 16px;
        font-size: 16px; 
    }

    .table-title {
        font-size: 24px; 
    }
}
